# direnv configuration
# This file automatically loads the dev.sh script when you enter the project directory
#
# To use:
# 1. Install direnv: https://direnv.net/
#    Ubuntu/Debian: sudo apt install direnv
#    macOS: brew install direnv
#
# 2. Add direnv hook to your shell:
#    For bash: echo 'eval "$(direnv hook bash)"' >> ~/.bashrc
#    For zsh: echo 'eval "$(direnv hook zsh)"' >> ~/.zshrc
#
# 3. Allow direnv in this directory:
#    direnv allow

source_env_if_exists .envrc.local

# Load development utilities
source dev.sh
